label#answer-label {
	line-height: 30px;
	font-size: 120%;
	text-align: right;
}

input#answer {
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-ms-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}

input#answer.corrent {
	color: #009930;
	border: 3px solid #009930;
	font-weight: bold;
	font-size: 2em;
}

.cell {
	float: left;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: inset 0px 0px 16px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 16px 2px rgba(0, 0, 0, .1);
	border: 1px solid black;
}
