label#answer-label {
	line-height: 30px;
	font-size: 120%;
	text-align: right;
	width: auto;
	white-space: nowrap;
	display:inline-block !important;
}

input#answer {
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-ms-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}

input#answer.correct {
	color: #009930;
	border: 3px solid #009930;
	font-weight: bold;
	font-size: 120%;
}

.cell {
	float: left;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: inset 0px 1px 16px 2px rgba(255, 255, 255, .8);
	-moz-box-shadow: inset 0px 1px 16px 2px rgba(255, 255, 255, .8);
	box-shadow: inset 0px 1px 16px 2px rgba(255, 255, 255, .8);
	border: 1px solid white;
}

.footer {
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	font-size: 11px;
	font-weight: normal;
	border-top: 1px solid #E0E0E0;
	background-color: #FFF;
	padding-bottom: 10px;
	text-align: right; 
}

